/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 19, 2025, 1:45:56 PM
    Author     : admin
*/
button{
   -fx-font-weight: 199;
   -fx-color:white;
}
.Sbj{
    -fx-font-weight: bold;
    -fx-text-align: CENTER
}
Menu{
    -fx-text-spacing: 10;
    -fx-font-weight: 12;
    -fx-background-color: blue;

}